input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page_title, .count_block {
  text-align: center;
}

.page_form {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  form {
    text-align: center;

    .form_fields {
      display: flex;
      flex-direction: column;
      padding: 20px 0;

      input {
        margin: 5px 0;
        width: 300px;
        padding: 5px;
        border-radius: 5px;

        &:active, &:focus {
          outline: none;
        }
      }
    }
  }

  .add_btn {
    margin: 0 10px;
    background-color: orange;
    padding: 5px 8px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;

    &:active, &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}