@import '../../mixin.scss';

.header {

  &-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;

    &__leftpart {
      color: #1abc9c;
    }

    &__rightpart {
      display: flex;

      &-user, &-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 5px;
      }

      &-user {
        font-size: 18px;
      }

      &-btn {
        button {
          @include btn(#1abc9c, #fff);
        }
      }
    }
  }
}