@import url('https://fonts.googleapis.com/css?family=Raleway');

.center{
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
}

.card > form{
  display: flex;
  flex-direction: column;
}

.card h1{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item{
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;
  width: 16rem;
  font-size: 14px;
  border: 2px solid grey;
  border-radius: 5px;

  &:focus {
    outline: none;
  }
}

.invalid {
  border: 2px solid darkred;
}

.valid {
  border: 2px solid grey;
}

.form-submit{
  font-family: 'Raleway', sans-serif;
  height: 35px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    background-color: #128a75;
  }

  &:focus {
    outline: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.warning {
  text-align: center;
  color: darkred;
  display: none;
}

.show {
  display: block;
}