@import '../../mixin.scss';

input {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;

  &:focus {
    outline: none;
  }
}

.danger-gender {
  color: red;
}

.danger-rate {
  color: red;
}

.filter-btn {
  @include btn(orange, #fff);
  margin-bottom: 15px;
}

.filter {
  padding: 30px 20px;
  background-color: #f3f4f5;
  margin: 0 0 20px;
  display: none;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

    &-btns {
      &__clear {
        @include btn(#1abc9c, #fff);
      }

      &__apply {
        @include btn(orange, #fff);
        margin-left: 10px;
      }
    }
  }
}

.search-field {
  input {
    width: 30%;
    height: 30px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.open {
  display: block;
}

.products_list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  @include respond-to(1060px) {
    justify-content: center
  }
}

.load_more {
  text-align: center;
  padding: 20px 0;

  button {
    @include btn(#1abc9c, #fff);
  }
}